<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center logo">
        <img ng-src="img/logo.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block button-stable" ui-sref="app.wordpress">
          Health / Recipes
        </a>
        <a class="sign-up button button-block button-stable" ui-sref="app.wordpress2">
          Beauty
        </a>
                <a class="science button button-block button-stable" ui-sref="app.feeds-categories">
          Science
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
