<?xml version='1.0' encoding='utf-8'?>
<widget id="com.recipes.finder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Recipes Finder</name>
    <description>
       Recipes Finder
    </description>
    <author email="rizal.saleh1@gmail.com" href="http://mycodetemplates.com">
        Rizals
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-maxSdkVersion" value="23" />
	<preference name="android-build-tool" value="gradle" />
    <preference name="orientation" value="default" />
    <preference name="webviewbounce" value="false" />
	<preference name="UIWebviewbounce" value="false" />
    <preference name="AutoHideSplashScreen" value="false" /> 
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="ShowSplashScreen" value="false" />
	<preference name="FadeSplashScreen" value="false"/>
	<preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="disable-cursor" value="false" />
    <preference name="android-installLocation" value="auto" />
    <preference name="StatusBarOverlaysWebView" value="true" />
	<gap:plugin name="org.apache.cordova.device" source="npm"/> 
	<gap:plugin name="org.apache.cordova.device-motion" source="npm"/> 
	<gap:plugin name="org.apache.cordova.device-orientation" source="npm"/> 
	<gap:plugin name="org.apache.cordova.dialogs" source="npm"/> 
	<gap:plugin name="org.apache.cordova.file" source="npm" /> 
	<gap:plugin name="org.apache.cordova.file-transfer" source="npm"/> 
	<gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/> 
	<gap:plugin name="org.apache.cordova.media" source="npm" /> 
	<gap:plugin name="org.apache.cordova.network-information" source="npm" /> 
	<gap:plugin name="org.apache.cordova.vibration" source="npm" /> 
	<gap:plugin name="org.apache.cordova.network-information" source="npm" />
	<gap:plugin name="cordova-plugin-splashscreen" spec="2.1.0" source="pgb" />
	
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/drawable/icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/drawable-mdpi-v4/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/drawable-hdpi-v4/icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/drawable-xhdpi-v4/icon.png" />
 
	<preference name="SplashScreen" value="screen"/>
    <gap:splash src="screen.png" />

    <!-- you can use any density that exists in the Android project -->
    <gap:splash src="res/drawable-port-hdpi-v4/screen.png" gap:platform="android" gap:qualifier="land-hdpi" />
    <gap:splash src="res/drawable-port-ldpi-v4/screen.png" gap:platform="android" gap:qualifier="land-ldpi" />
    <gap:splash src="res/drawable-port-mdpi-v4/screen.png" gap:platform="android" gap:qualifier="land-mdpi" />
    <gap:splash src="res/drawable-port-xhdpi-v4/screen.png" gap:platform="android" gap:qualifier="land-xhdpi" />

	<gap:plugin name="cordova-plugin-apprate" source="npm" />
	<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
	<gap:plugin name="io.litehelpers.cordova.sqlite" spec="0.7.10" source="pgb" />
	<gap:plugin name="org.apache.cordova.statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-admobpro" source="npm" />
	
    <access origin="*" />
</widget>
