<?xml version='1.0' encoding='utf-8'?>
<widget id="com.new-impulse.coconutoiluses" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Coconut oil uses</name>
    <description>
        Descibes the uses and benefits of coconut oil
    </description>
    <author email="info@new-impulse.com" href="http://new-impulse.com/">
      New-impulse media
    </author>
    <content src="index.html" />
    
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
      
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-maxSdkVersion" value="23" />
	<preference name="android-build-tool" value="gradle" />


 <!--    <preference name="AutoHideSplashScreen" value="false" /> -->
<!--	<preference name="auto-hide-splash-screen" value="false" /> -->
<!--	<preference name="ShowSplashScreen" value="false" /> -->
<!--	<preference name="FadeSplashScreen" value="false"/> -->
<!--	<preference name="ShowSplashScreenSpinner" value="false"/> -->
 <!--   <preference name="disable-cursor" value="false" /> -->
 <!--   <preference name="android-installLocation" value="auto" /> -->
 <!--   <preference name="StatusBarOverlaysWebView" value="true" /> -->
 



<!-- oude hieronder
   
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/drawable/icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/drawable-mdpi-v4/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/drawable-hdpi-v4/icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/drawable-xhdpi-v4/icon.png" />
 
	<preference name="SplashScreen" value="screen"/>
    <gap:splash src="screen.png" />

    <!-- you can use any density that exists in the Android project 
    <gap:splash src="res/drawable-port-hdpi-v4/screen.png" gap:platform="android" gap:qualifier="land-hdpi" />
    <gap:splash src="res/drawable-port-ldpi-v4/screen.png" gap:platform="android" gap:qualifier="land-ldpi" />
    <gap:splash src="res/drawable-port-mdpi-v4/screen.png" gap:platform="android" gap:qualifier="land-mdpi" />
    <gap:splash src="res/drawable-port-xhdpi-v4/screen.png" gap:platform="android" gap:qualifier="land-xhdpi" />

-->

	
    <access origin="*" />
</widget>
