<ion-view class="profile-view">
  <ion-nav-title>
    <span>Disclaimer</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="img/icon-green.png" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Coconut oil</div>
        <div class="user-twitter">uses & benefits</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['img/profile-back.jpg']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p><strong>No advice</strong><br /><br />

This app contains general information about medical conditions and treatments.  The information is not advice, and should not be treated as such.
<br /><br />
<strong>Limitation of warranties</strong>
<br /><br />
The medical information on this app is provided “as is” without any representations or warranties, express or implied. This app makes no representations or warranties in relation to the medical information on this app.  
<br /><br />
Without prejudice to the generality of the foregoing paragraph, this app does not warrant that:
<br /><br />
<li>the medical information on this app will be constantly available, or available at all; or</li>
<li>the medical information on this app is complete, true, accurate, up-to-date, or non-misleading.</li>
<br /><br />
<strong>Professional assistance</strong>
<br /><br />
You must not rely on the information on this app as an alternative to medical advice from your doctor or other professional healthcare provider.   
<br />
If you have any specific questions about any medical matter you should consult your doctor or other professional healthcare provider.
<br />
If you think you may be suffering from any medical condition you should seek immediate medical attention.  
<br />
You should never delay seeking medical advice, disregard medical advice, or discontinue medical treatment because of information on this app.
<br /><br />
<strong>Liability</strong>
<br /><br />
Nothing in this medical disclaimer will limit any of our liabilities in any way that is not permitted under applicable law, or exclude any of our liabilities that may not be excluded under applicable law.
<br /><br />
<strong>Credit</strong>
<br /><br />
This document was created using a Contractology template available at http://www.freenetlaw.com
<br /><br />Contact us: info@new-impulse.com
</p>
      </div>
    </div>
  </ion-content>
</ion-view>
